{{ define "order" }}

    {{ template "header" . }}

    <div {{ with $.platform_css }} class="{{.}}" {{ end }}>
        <span class="platform-flag">
           Berat
        </span>
    </div>

    <main role="main" class="order">

        <section class="container order-complete-section">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>
                        Siparişiniz tamamlandı!
                    </h3>
                </div>
                <div class="col-12 text-center">
                    <p>Size bir onay e-postası gönderdik.</p>
                </div>
            </div>
            <div class="row border-bottom-solid padding-y-24">
                <div class="col-6 pl-md-0">
                    Onay #
                </div>
                <div class="col-6 pr-md-0 text-right">
                    {{.order.OrderId}}
                </div>
            </div>
            <div class="row border-bottom-solid padding-y-24">
                <div class="col-6 pl-md-0">
                    Takip #
                </div>
                <div class="col-6 pr-md-0 text-right">
                    {{.order.ShippingTrackingId}}
                </div>
            </div>
            <div class="row padding-y-24">
                <div class="col-6 pl-md-0">
                    Ödenen Toplam
                </div>
                <div class="col-6 pr-md-0 text-right">
                    {{renderMoney .total_paid}}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a class="cymbal-button-primary" href="{{ $.baseUrl }}/" role="button">
                        Alışverişe Devam Et
                    </a>
                </div>
            </div>
        </section>

        {{ if $.recommendations }}
            {{ template "recommendations" $ }}
        {{ end }}

    </main>

    {{ template "footer" . }}
{{ end }}
